﻿body
{
	background-color:#313145;
	color:#DDDDDD;
}
#loginbar
{
	background-color:#313145;
	color:#DDDDDD;
}
#loginbar input
{
	border-radius:4px;
	padding:5px;
}
#loginbar span input
{
	padding:5px;
	background-color:#58ebd3;
	background-image:url(icon/search.png);
	border-color:#58ebd3;
}
button
{
	overflow:hidden;
	background-color:#58ebd3;
	padding: 3px;
	border-radius: 3px;
	border-color:#58ebd3;
	background-image:url(icon/resized_upload1.png);
}
button span
{
	visibility:hidden;
}
button:hover
{
	
}
 ul {
	background-color:#ECF0F1;
	padding:10px;
    list-style: none; overflow: hidden; position: relative;
}
 
 ul li {
    float: left; margin: 0 10px 0 0;
}
 ul li a {
    display: block; width: 64px; height: 64px;
    background-repeat: no-repeat;
}
 
 ul li:nth-child(1) a {
    background-color: #5bb2fc;
    
}
 
 ul li:nth-child(2) a {
    background-color: #58ebd3;
    
}
 
 ul li:nth-child(3) a {
    background-color: #ffa659;
	
    
}
 #welcome
 {
	font-size:20px;
	position:relative;
	top:10px;
 }
 ul li:nth-child(4) a {
    background-color: #ff7a85;
	
    
}
ul li:nth-child(5) a {
    background-color: #7F8C8D;
    
}
ul li:nth-child(6) a {
    background-color: #9B59B6;
    
}
 ul li a span {
    font: 30px "Dosis", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 580px;
    top: 29px;
    display: none;
}
 ul li a:hover span {
    display: block;
}
 
 ul li:nth-child(1) a span {
    color: #5bb2fc;
}
 
 ul li:nth-child(2) a span {
    color: #58ebd3;
}
 
 ul li:nth-child(3) a span {
  color: #ffa659;
}
 
 ul li:nth-child(4) a span {
  color: #ff7a85;
}
ul li:nth-child(5) a span {
  color: #7F8C8D;
}
ul li:nth-child(6) a span {
  color: #9B59B6;
}
a
{
text-decoration:none;
color: #7cc576;
}
table,th,td
{
border:1px solid #fff468;
border-collapse:collapse;
text-align: center;
}
.Checkbox
{
    width: 120px;
    height: 50px;
    margin: 20px 30px;
    position: relative;
}
.Checkbox div
{
    width: 100%;
    height:100%;
    background: #2fca6c;
    position: relative;
    top:-30px;
}
.Checkbox label
{
    display: block;
    width: 40px;
    height: 40px;
 
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -4px;
    z-index: 1;
    left: 8px;
    background: #fffffd;
}
.Checkbox label:before
{
    color: #ccc;
    content:'|||';
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    left: 7px;
    top:11px;
}
.Checkbox input[type=checkbox]:checked ~ div
{
    background: #e9513a;
}
 
.Checkbox input[type=checkbox]:checked ~ label {
    left: 75px;
}

